<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/add" method="post" enctype="multipart/form-data" >
   title <input type="text" name="tt"><br>
   image <input type="file" name="file1" id=""><br>
   <input type="submit" name="" id="" value="add"></form>
</body>
</html>